<html>
	<head>
		<link href="/css/zip.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<table>
			<tr>
				<td>Collection Name</td>
				<td>Document Names</td>
				<td>URL Extension</td>
			</tr>
			<tr>
				<td>major_crime</td>
				<td>_id, year, zipcode, tc, gradrate, income, pop</td>
				<td><a href="http://ec2-52-203-145-188.compute-1.amazonaws.com/data/major_crime">/major_crime</a></td>
			</tr>
			<tr>
				<td>majorcrimeCurr</td>
				<td>_id, zipcode, current</td>
				<td><a href="http://ec2-52-203-145-188.compute-1.amazonaws.com/data/majcrimecurr">/majcrimecurr</a></td>
			</tr>
			<tr>
				<td>majorcrimePred</td>
				<td>_id, zipcode, predict</td>
				<td><a href="http://ec2-52-203-145-188.compute-1.amazonaws.com/data/majcrimepred">/majcrimepred</a></td>
			</tr>
			<tr>
				<td>minorcrimeCurr</td>
				<td>_id, zipcode, current</td>
				<td><a href="http://ec2-52-203-145-188.compute-1.amazonaws.com/data/mincrimecurr">/mincrimecurr</a></td>
			</tr>
			<tr>
				<td>minorcrimePred</td>
				<td>_id, zipcode, predict</td>
				<td><a href="http://ec2-52-203-145-188.compute-1.amazonaws.com/data/mincrimepred">/mincrimepred</a></td>
			</tr>
			<tr>
				<td>minor_crime</td>
				<td>_id, gradrate, tc, zipcode, year, pop, income</td>
				<td><a href="http://ec2-52-203-145-188.compute-1.amazonaws.com/data/minor_crime">/minor_crime</a></td>
			</tr>
			<tr>
				<td>cityname</td>
				<td>_id, zipcode, city</td>
				<td><a href="http://ec2-52-203-145-188.compute-1.amazonaws.com/data/cityname">/cityname</a></td>
			</tr>
			<tr>
				<td>rate</td>
				<td>_id, rate, zipcode</td>
				<td><a href="http://ec2-52-203-145-188.compute-1.amazonaws.com/data/rate">/rate</a></td>
			</tr>
			<tr>
				<td>recommend</td>
				<td>_id, zipcodelist, rec1, rec2, rec3</td>
				<td><a href="http://ec2-52-203-145-188.compute-1.amazonaws.com/data/recommend">/recommend</a></td>
			</tr>
		</table>
	</body>
</html>