body, html {
	font-family: arial, helvetica, sans-serif;	
	background-image: none;
}

body {
	background-image: url("../img/pattern.jpeg");
}

#wrapper {
	background-color: rgba(250,250,250,0.8);
}

/*
================================================================================
								SUBNAV CSS
================================================================================
*/

#sub-nav {
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	padding: 5px 0px;
	text-align: right;
	border-bottom: 1px solid #EEEEEE;
	background-color: rgb(250,250,250);
	font-family: 'Roboto Condensed', arial, helvetica, sans-serif;
}

#sub-nav a {
	margin: 0px 10px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(0,0,0,0.6);
	transition: all .5s;
}

#sub-nav #start-over {
	display: inline-block;
	text-align: left;
	float: left;
}

#sub-nav a:hover {
	color: rgba(242, 115, 153, 1.0);
	transition: all .5s;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
	position: fixed;
    width: 100%;
}

/* MAIN CONTENT CSS */

#page-info {
	width: 100%;
	text-align: center;
	padding-top: 30px;
	font-family: 'Roboto Condensed', arial, helvetica, sans-serif;
}

#page-info h1 {
	text-transform: uppercase;
	font-size: 48px;
	font-weight: 400;
	padding: 10px 20px;
	margin: 0;
}

#page-info h2 {
	font-size: 32px;
	font-weight: 300;
	padding: 0;
	margin: 0;
}

#gauge-container {
	border-bottom: 1px solid #EEEEEE;
	min-height: 400px;
	height: 90vh;
}

#gauge-container #gauge-block {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#gauge-container #gauge-block #rating {
	width: 45%;
	min-width: 300px;
	margin-top: -100px;
}

#maj-container, #min-container {
	width: 100%;
	height: 110vh;
	min-height: 500px;
	border-bottom: 1px solid #EEEEEE;
}

#maj-container #maj-block, #min-container #min-block {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	width: 20%;
	min-height: 300px;
	min-width: 200px;
}

#maj-container #maj-block {
	float: right;
	right: 25%;
}

#min-container #min-block {
	float: left;
	left: 25%;
}

#maj-container #maj-block h3, #min-container #min-block h3 {
	padding-bottom: 15px;
	margin: 0;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Raleway', arial, helvetica, sans-serif;
}

#maj-container #maj-info {
	position: relative;
	top: 50%;
	left: 15%;
	float: left;
	transform: translateY(-50%);
	text-align: center;
	width: 20%;
	height: 60%;
	padding: 0px 20px;

	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}

#min-container #min-info {
	position: relative;
	top: 50%;
	right: 15%;
	float: right;
	transform: translateY(-50%);
	text-align: center;
	width: 20%;
	height: 60%;
	padding: 0px 20px;

	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}

#maj-container #maj-info h1, #min-container #min-info h1 {
	font-size: 36px;
	padding: 0;
	margin-bottom: 40px;
}

#maj-container #maj-info ul, #min-container #min-info ul {
	text-align: left;
	list-style-type: none;
}

#maj-container #maj-info .text {
	margin: 20px 0;
	padding: 0px 15px;
	display: inline-block;
}


#recs-container {
	height: 50vh;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
}

#recs-container h1 {
	font-family: 'Roboto Condensed', arial, helvetica, sans-serif;
	font-size: 28px;
}

#recs-container #recs {
	font-family: 'Raleway', sans-serif;
}

#recs-container #recs a {
	text-decoration: none;
	display: inline-block;
	color: #000;
	width: 150px;
	margin: 40px 80px;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
}

#recs-container #recs a:hover {
	color: rgba(242,115,153,1.0);
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
}

#recs-container #recs a h2 {
	font-size: 24px;
	font-weight: 300;
}

#recs-container #recs a h3 {
	font-size: 22px;
	font-weight: 300;
}

#footer {
	position: relative;
	bottom: 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 680px) {
	#page-info {
		padding-top: 10px;
	}

	#sub-nav {
		display: none;
	}

	#sub-nav a {
		display: block;
		margin: 5px 10px;
	}

	#sub-nav #start-over {
		float: none;
		display: none;
	}

	#gauge-container {
		height: 55vh;
	}

	#gauge-container #rating {
		min-height: 150px;
		height: 30vh;
	}
}

@media screen and (max-width: 800px) {
	#maj-container #maj-info, #min-container #min-info {
		display: none;
	}

	#maj-container #maj-block {
		float: none;
		right: auto;
	}

	#min-container #min-block {
		float: none;
		left: auto;
	}
}

@media screen and (max-width: 1080px) {
	#recs-container {
		height: auto;
		padding-bottom: 15px;
	}

	#recs-container #recs a {
		display: block;
		margin: 50px auto;
	}
}